<div class="user-feedbacks-left"></div>
<div class="user-feedbacks-right">
  {{#if this.model.feedbacks.length}}
    {{#each this.model.feedbacks as |feedback index|}}
      {{feedback-list-item feedback=feedback onDelete=this.handleFeedbackDeleted}}
    {{/each}}
  {{else}}
    <div class="empty-state">
      <span class="empty-state-title">{{i18n "discourse_user_feedbacks.user_feedbacks.empty_state_title"}}</span>
      <div class="empty-state-body">
        <p>{{i18n "discourse_user_feedbacks.user_feedbacks.empty_state_body"}}</p>
      </div>
    </div>
  {{/if}}
</div>
