<div class="average-ratings">
  {{rating-input value=this.user.average_rating readOnly=true}}
  <span class="rating-count"><a href="{{this.user.path}}/feedbacks">{{i18n "discourse_user_feedbacks.user_feedbacks.user_ratings_count" count=this.user.rating_count}}</a></span>
</div>
